*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:rgb(45, 46, 47);
  color:white;
}
h1{
  text-align:center;
}
.App{
  padding:20px;
}
.row{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: nowrap;
}
.col{
  margin:20px;
}
.col h3{
color:rgb(191, 246, 249);
  background-color:black;
  border:3px solid black;
  padding:5px;
  width:45vw;
}
#editor{
  height:85vh;
overflow:auto;
  width:45vw;
  resize:none;
  padding:15px;
  background-color:rgb(191, 246, 249);
  color:rgb(0, 0, 0);

}
#preview{
  height:85vh;
  width:45vw;
  resize:none;
overflow:auto;
padding:15px 25px;;
  background-color:rgb(191, 246, 249);
  color:rgb(0, 0, 0);

}
#preview h1,h2,h3,h4,h5{
  text-align:left;
  margin-bottom:5px;


}
#preview h1, h2{
  text-decoration:underline;
  margin-bottom:10px;

}
#preview h3{
  color:black;
  background-color:rgb(191, 246, 249);
  border:none;
  padding:0;
 
}
#preview p, pre,ul,ol{
  margin-bottom:10px;
}
#preview code{
  display:inline-block;
  background-color:white;
  padding:3px;
  color:rgb(48, 65, 69);
}
#preview th, td{
  border:1px solid black;
  padding:5px;
}
#preview table{
  border-collapse: collapse;
  margin-bottom:10px;

}
#preview img{
 max-width:500px;
 margin-bottom:10px;
}
@media only screen and (max-width: 600px){
  .row{
    flex-wrap:wrap;
  }
  .col h3{
    width:90vw;
  }
  #editor,#preview{
    width:90vw;
  }
}
